
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title pull-left">
      <h3 class="panel-title">
        {{#link-to "geokrety.details" geokret.id}}{{geokret.name}}{{/link-to}}
        -
        geokret.type.name
        -
        {{link-to geokret.owner.name "users.details" geokret.owner.id}}
      </h3>
    </div>
    <div class="panel-title pull-right">
      <span class="badge">caches {{geokret.cachesCount}}</span>
      <span class="badge">pictures {{geokret.picturesCount}}</span>
      <span class="badge">distance {{geokret.distance}} km</span>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Tracking Code:</dt>
      <dd>{{geokret.trackingCode}}</dd>
      <dt>Created on datetime:</dt>
      <dd>{{moment-format geokret.createdOnDatetime}}</dd>
      <dt>Description:</dt>
      <dd>{{geokret.description}}</dd>
      <dt>Holder:</dt>
      <dd>{{geokret.holder.name}}</dd>
    </dl>
  </div>
</div>
