<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title pull-left">
      <h3 class="panel-title">
        {{#if move.country}}
          {{country-flag country=move.country}}
        {{/if}}
        {{waypoint-link waypoint=move.waypoint coordinates=move.coordinates}}
      </h3>
    </div>
    <div class="panel-title pull-right">
      {{moment-format move.movedOnDatetime}} / {{link-to move.author.name "users.details" move.author.id}} {{move.applicationName}}
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-1 col-md-1">
        <div class="row">
          <div class="col-sm-12 col-md-12">{{move-type-icon move=move}}</div>
        </div>
        {{#if move.distance}}
          <div class="row">
            <div class="col-sm-12 col-md-12">{{move.distance}} km</div>
          </div>
        {{/if}}
      </div>
      <div class="col-sm-11 col-md-11">
        {{move.comment}}
      </div>
    </div>
  </div>

  <ul class="list-group">
    {{#each move.comments as |comment|}}
      {{move-comment comment=comment}}
    {{/each}}
  </ul>
</div>
